{% extends 'storefront\base.html' %}
{% load static %}
{% block body %}
{% load crispy_forms_tags %}
<body>
    <div class="container">       
        <div class="col-md-12">
            <div class="container">
                <h5 class="m-2 p-2 font-weight-bold d-flex justify-content-center"><span>Login</span></h5>
                <hr class="m-2 p-2 font-weight-bold d-flex justify-content-center">
            </div>
            <div class="mb-3 mt-4 d-flex justify-content-center">                 
                <form class="w-50" method="post" action="{% url 'account_login' %}">           
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-dark btn-block mb-4" type="submit">Sign In</button> 
                        <p>Don't have an account? <a href="{% url 'account_signup' %}">Register Here</a></p>                  
                </form>
                                
            </div>
        </div>
    </div>
</body>
{% endblock body %}