{% extends 'storefront\base.html' %}
{% load static %}
{% block body %}
{% load crispy_forms_tags %}
<body>
    <div class="container">       
        <div class="col-md-12">
            <div class="container">
                <h5 class="m-2 p-2 font-weight-bold d-flex justify-content-center"><span>Register</span></h5>
                <hr class="m-2 p-2 font-weight-bold d-flex justify-content-center">
            </div>
            <div class="mb-3 mt-4 d-flex justify-content-center">                 
                <form class="w-50" method="POST" action="{% url 'account_signup' %}">
                    {% csrf_token %}      
                        {{ form|crispy }}
                        <!-- Submit button -->
                    <button type="submit" class="btn btn-dark btn-block mb-4">Register</button>
                    <div class="text-center">
                        <p>Already a member? <a href="{% url 'account_login' %}">Login</a></p>                        
                    </div>  
                </form>                
            </div>
        </div>
    </div>
</body>
{% endblock body %}