{% extends 'storefront\base.html' %}

{% block body %}

{% load crispy_forms_tags %}

<hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10 m-2"><h2>Hello {{auth_profile.author.username}},</h2></div>
    	</div>
    <div class="row">
  	<div class="col-sm-3"><!--left col-->
               
          <div class="panel panel-default">
            <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
            <div class="panel-body"><a href="http://bootnipets.com">bootnipets.com</a></div>
          </div>
          
          
          <ul class="list-group">
            <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> {{total_post}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>
          </ul> 
          
        </div><!--/col-3-->
    	<div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Profile Information</a></li>
            </ul>              
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                  
                      <!-- else starts-->
                        <form class="form" action="{% url 'blogApp:profile_view' %}" method="post">
                          {% csrf_token %}
                          {{u_form|crispy}}
                          {{p_form|crispy}}
                          <div class="form-group">
                              <div class="col-xs-12">
                                    <br>
                                    <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Update</button>
                                    <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                                </div>
                          </div>
                    </form>
                      <!-- else ends-->
              <hr>
                      
             
              </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->   
{% endblock body %}


                                       