{% extends 'storefront\base.html' %}
{% load static %}
{% block body %}

<body>
    <div class="container">       
        <div class="col-md-12">
            <div class="container">
                <h5 class="m-2 p-2 font-weight-bold d-flex justify-content-center"><span>Share Your Knowledge...</span></h5>
                <hr class="m-2 p-2 font-weight-bold d-flex justify-content-center">
            </div>
            <div class="mb-3 mt-4 d-flex justify-content-center">
              {% csrf_token %}                 
                <form class="w-100" method="POST" action="{% url 'blogApp:write_view' %}">
                  {% csrf_token %}
                  <div class="col-xs-4 m-4">
                    <label for="title"><h6>Title</h6></label>
                    <input type="title" class="form-control" name="title" id="title" placeholder="enter your title here" value="{{author_info.author.email}}">
                  </div>
                  <div class="row">
                    <div class="col-3 m-4">
                      <label for="category"><h6>Category</h6></label>
                      <select class="form-control form-select" name="category" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        {% for category in category_list %}
                          <option value="{{category.category_name}}">{{category.category_name}}</option>
                        {% endfor %}
                      </select>                      
                    </div>

                    <div class="col-4 m-4">
                      <label for="title"><h6>Tags (max 3)</h6></label>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Enter Tags here" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <span class="input-group-text" id="basic-addon2">@example.com</span>
                      </div>
                    </div>
                    <div class="col-3 m-4">
                      <label for="formFile" class="input-group form-label">Upload Cover Image</label>
                      <input class="form-control" name="cover_img" style="border:none" type="file" id="formFile">
                    </div> 
                  </div>
              <div>
            </div>
                  
                  <textarea class="form-control" name="content" id="content">
                          
                  </textarea>
                  <div class="w-25 ">
                    <button class="btn btn-dark btn-block mt-4" type="submit">Submit</button>
                  </div>
                        
                        <script>
                          tinymce.init({
                            selector: 'textarea',
                            plugins: 'a11ychecker advcode casechange export formatpainter image editimage linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tableofcontents tinycomments tinymcespellchecker',
                            toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter image editimage pageembed permanentpen table tableofcontents',
                            toolbar_mode: 'floating',
                            tinycomments_mode: 'embedded',
                            tinycomments_author: 'Author name',
                          });
                        </script>
                  
                </form>                
            </div>
        </div>
    </div>
</body>
{% endblock body %}